<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Kudu <span class="highlightLetter">Demos</span></h1>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="searchBox set1-color2 searchBoxLeft" on-click="addCustomer()">
                <div class="searchBoxIcon"><i class="fa fa-user fa-5x"></i>
                </div>
                <div class="searchBoxLarge">New Customer</div>
                <div class="home-text headingSmaller">Create a new Customer.</div>
            </div>

        </div>

</div>
