<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Kudu <span class="highlightLetter">Demos</span></h1>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="searchBox set1-color2 searchBoxLeft" on-click="addArtist()">
                <div class="searchBoxIcon"><i class="fa fa-user fa-5x"></i>
                </div>
                <div class="searchBoxLarge">New Artist</div>
                <div class="home-text headingSmaller">Create a new artist.</div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="searchBox set1-color3">
                <div class="searchBoxIcon" on-click="editArtist()"><i class="fa fa-users fa-5x"></i>
                </div>
                <div class="searchBoxLarge">Existing Artist</div>
                <div class="home-text headingSmaller">Manage your existing artists.</div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="searchBox set1-color1 searchBoxLeft">
                <div class="searchBoxIcon" on-click="addArt()"><i class="fa fa-paint-brush fa-5x"></i>
                </div>
                <div class="searchBoxLarge">New Art</div>
                <div class="home-text headingSmaller">Create new art and upload a photo.</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="searchBox set1-color4">
                <div class="searchBoxIcon" on-click="editArt()"><i class="fa fa-picture-o fa-5x"></i>
                </div>
                <div class="searchBoxLarge">Existing Art</div>
                <div class="home-text headingSmaller">Manage your existing art.</div>
            </div>
        </div>
    </div>

</div>
